<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/svg/plant-fill.svg" type="image/svg+xml">
    <link rel="stylesheet" href={{
      "css/style.css" | url
    }}>
    <script src="/js/alpine.js" defer></script>
    <title>{{ title }} | {{ metadata.sitetitle }}</title>
  </head>

  <body>
    {% include "header.njk" %}

    <main id="site-main" class="container pad">
      <section class="reading">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </section>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
