<footer id="site-footer" class="pad">
  <p class="copy" x-data="{ date: new Date() }">
    &copy; <span x-text="date.getFullYear()">YYYY</span>
    <a href="/">
      {{ metadata.sitetitle }}
    </a>
  </p>
</footer>
