<header id="site-header">

  <nav id="site-menu" class="container" x-data="{ open: false }">

    <a id="site-title" class="logo" href={{ "/" | url }}>
      {{ meta.sitetitle }}
    </a>

    <button @click.prevent="open = !open" type="button" class="only-mobile hamburger-icon">
        Menu
      </button>

    <ol :class="open ? '' : 'hide-mobile'" x-transition>
      <li>
        <a href={{ "/one" | url }}>One</a>
      </li>
      <li>
        <a href={{"/two" | url }}>Two</a>
      </li>
      <li>
        <a href="#">Three</a>
      </li>
      <li>
        <a href="#">Four</a>
      </li>
      <li>
        <a href="#">Five</a>
      </li>
    </ol>
  </nav>

</header>