<header id="site-header">

  <nav id="site-menu" class="container" x-data="{ open: false }">

    <a id="site-title" href={{ "/" | url }}>
      {% include "logo.svg" %}
      {{ meta.sitetitle }}
    </a>

    <button @click.prevent="open = !open" type="button" class="only-mobile hamburger-icon">Menu</button>

    <ol :class="open ? '' : 'hide-mobile'">

      {% set currentUrl = page.url %}

      {% for link in collections.l2page %}
        <li>
          <a
            {% if currentUrl === link.url %}
              aria-current="page"
            {% endif %}
            href="{{ link.url }}">
            {{ link.data.title }}
          </a>
        </li>
      {% endfor %}

    </ol>

  </nav>
</header>