@use "theme" as *;

#site-footer {
  background-color: $clr-primary;
  color: $clr-primary-text;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: currentColor;
    font-weight: bold;
    text-decoration: none;
  }
}
