@use "theme" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  @include fluid-type;

  @include breakpoint($max-width) {
    font-size: $font-max;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: $clr-text;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 1rem 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  border-bottom: 1px solid $clr-bg;
}

h3 {
  font-size: 1.6rem;
}

a {
  color: $clr-primary;
}

button {
  background-color: white;
  color: $clr-primary;
  border: 1px solid $clr-primary;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all $transition-speed;

  &:hover {
    background-color: $clr-primary;
    color: white;
  }
}
