@use "theme" as *;

html {
  @include fluid-type;

  @include breakpoint($max-width) {
    font-size: $font-max;
  }
}

body {
  color: $clr-text;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  border-bottom: 1px solid $clr-bg;
}

h3 {
  font-size: 1.6rem;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: $clr-primary;
}
