@use "theme" as *;

#site-header {
  background-color: $clr-primary;
  color: $clr-primary-text;

  a {
    color: currentColor;
    text-decoration: none;
  }

  #site-menu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title button"
      "menu menu";

    @include breakpoint($header-min) {
      display: flex;
      justify-content: space-between;
    }

    #site-title {
      grid-area: title;
      display: flex;
      align-items: center;
      // flex-grow: 1;
      font-size: 1.6rem;
      font-weight: bold;
      margin-right: 0.5rem;

      svg {
        fill: currentColor;
        width: 2rem;
        margin-right: 0.5rem;
      }

      &:hover {
        color: yellow;
      }
    }

    button {
      grid-area: button;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border: 1px solid $clr-primary-text;
      border-radius: $radius;
      background-color: $clr-primary-text;
      transition: border $transition-speed;
      max-width: 5rem;
      justify-self: end;

      &:hover {
        border: 1px solid $clr-hover;
      }
    }

    ol {
      grid-area: menu;
      list-style: none;
      padding: 0;
      margin-top: 0.5rem;

      li {
        a {
          padding: 0.5rem 0;
          font-weight: bold;
          display: flex;
          border-bottom: 3px solid transparent;
          transition: border $transition-speed;

          &:hover {
            border-bottom: 3px solid $clr-hover;
          }
        }

        [aria-current]:not([aria-current="false"]) {
          border-bottom: 3px solid $clr-hover;
        }
      }

      @include breakpoint($header-min) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;

        li a {
          padding: 0.5rem;
        }
      }
    }
  }
}
