@use "theme" as *;

#site-header {
  background-color: $clr-primary;
  color: $clr-primary-text;

  #site-menu {
    justify-content: space-between;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  #site-title {
    font-size: 1.6rem;
    font-weight: bold;

    &::before {
      mask-size: 120%;
      width: 1.2em;
      height: 1.2em;
      margin-right: 0.5rem;
    }
  }

  #site-menu {
    display: flex;
    @include debug(yellow);

    button {
      @include debug;

      @include breakpoint($header-min) {
        // display: none;
        //  working on https://alpinetoolbox.com/examples/navbar
      }
    }

    ol {
      @include debug;
      list-style: none;

      li {
        a {
          padding: 0.5rem 1rem;
          font-weight: bold;
          display: flex;
          border-bottom: 3px solid transparent;

          &:hover {
            border-bottom: 3px solid $clr-hover;
          }
        }
      }
    }
  }
}
