@use "theme" as *;

#site-header {
  background-color: $clr-primary;
  color: white;

  .container {
    justify-content: space-between;
  }

  a {
    color: white;
    text-decoration: none;
  }

  #site-title {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      svg {
        fill: white;
      }
    }

    &:hover {
      background-color: $clr-hover;
    }
  }

  #site-menu {
    button {
      @include breakpoint($header-min) {
        // display: none;
        //  working on https://alpinetoolbox.com/examples/navbar
      }
    }

    ol {
      list-style: none;

      li {
        a {
          padding: 0.5rem 1rem;
          font-weight: bold;
          display: flex;

          &:hover {
            background-color: $clr-hover;
          }
        }
      }
    }
  }
}
