// layout
$max-width: 1200px;
$reading-width: 700px;
$min-width: 300px;
$header-min: 550px;

// colours
$clr-primary: hsl(218, 79%, 33%);
$clr-primary-text: lighten($clr-primary, 60%);
$clr-hover: lighten($clr-primary, 15%);
$clr-text: hsl(0, 0%, 20%);

// fonts
@import url("@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');");
$font-sans: "Source Sans Pro", sans-serif;
$font-min: 14px;
$font-max: 18px;

// other
$transition-speed: 300ms;
$radius: 5px;

// mixins
@mixin breakpoint($pixels, $mobile-only: false) {
  @if $mobile-only {
    @media only screen and (max-width: ($pixels - 1)) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $pixels) {
      @content;
    }
  }
}

@mixin fluid-type {
  font-size: calc(
    #{$font-min} + #{strip-unit($font-max - $font-min)} *
      ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );
}

@function strip-unit($value) {
  @return calc($value / 1px);
}

@mixin hide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin icon-after($iconURL, $color: currentColor) {
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    width: 1em;
    height: 1em;
    margin-left: 0.2rem;
    mask: url($iconURL) no-repeat center;
    mask-size: 90%;
    background-color: $color;
  }
}

@mixin icon-before($iconURL, $color: currentColor) {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    mask: url($iconURL) no-repeat center;
    margin-right: 0.2rem;
    mask-size: 90%;
    background-color: $color;
  }
}

@mixin debug($color: red) {
  border: 1px solid $color;
}
