@use "theme" as *;

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 1rem;
}

.reading {
  margin: 0 auto;
  max-width: $reading-width;
}

.pad {
  padding: 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.debug {
  border: 1px solid red;
}

.hide {
  @include hide;
}

.hide-mobile {
  display: none;

  @include breakpoint($header-min) {
    display: flex;
  }
}

.show-mobile {
  @include breakpoint($header-min) {
    display: none;
  }
}

.external {
  @include icon-after("../img/svg/external-link-line.svg");
}

.pdf {
  @include icon-after("../img/svg/file-pdf-fill.svg", red);
}

.logo {
  @include icon-before("../img/svg/plant-fill.svg");
}
