@use "theme" as *;

.container {
  margin: 0 auto;
  max-width: $max-width;
}

.reading {
  margin: 0 auto;
  max-width: $reading-width;
}

.pad {
  padding: 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.debug {
  border: 1px solid red;
}
